.about-us__heading {
  margin: 0;
  margin-bottom: 82px;
  font-size: 25px;
  line-height: 30px;
}

.about-us__fact-list {
  display: grid;
  margin: 0;
  padding: 0;

  line-height: 20px;
  font-weight: 700;

  list-style: none;
}

.about-us__fact-item {
  &:nth-child(2n) {
    order: 2;
  }

  &:not(:last-child) {
    margin-bottom: 83px;
  }
}

@media (min-width: $tablet-width) {
  .about-us__heading {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__fact-list {
    grid-template-columns: 314px 324px;
    column-gap: 20px;

    font-size: 20px;
    line-height: 22px;
  }

  .about-us__fact-item {
    &:nth-child(n) {
      order: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    padding-left: 225px;
    padding-right: 225px;
  }
}
