.about-us__heading {
  margin: 0;
  margin-bottom: 82px;
  font-size: 25px;
  line-height: 30px;
}

.about-us__fact-list {
  display: grid;
  row-gap: 83px;
  margin: 0;
  padding: 0;

  line-height: 20px;
  font-weight: 700;

  list-style: none;
}

.about-us__fact-item {
  position: relative;

  &:nth-child(2n) {
    order: 2;
  }

  &::before {
    content: "";

    position: absolute;
    top: -50px;
    left: 0;
  }

  &--ecology::before {
    top: -54px;
    left: 8px;
    width: 33px;
    height: 38px;

    background-image: url("../img/about-us-1.svg");
  }

  &--handmade::before {
    top: -51px;
    left: 3px;
    width: 35px;
    height: 34px;

    background-image: url("../img/about-us-2.svg");
  }

  &--price::before {
    top: -53px;
    left: 0;
    width: 47px;
    height: 27px;

    background-image: url("../img/about-us-3.svg");
  }

  &--domestic::before {
    top: -50px;
    left: -6px;
    width: 55px;
    height: 23px;

    background-image: url("../img/about-us-4.svg");
  }

  &--likes::before {
    top: -48px;
    left: 7px;
    width: 34px;
    height: 27px;

    background-image: url("../img/about-us-5.svg");
  }

  &--gift-pack::before {
    top: -52px;
    left: 3px;
    width: 33px;
    height: 32px;

    background-image: url("../img/about-us-6.svg");
  }
}

@media (min-width: $tablet-width) {
  .about-us__heading {
    margin-bottom: 98px;

    font-size: 43px;
    line-height: 50px;
  }

  .about-us__fact-list {
    grid-template-columns: 314px 324px;
    column-gap: 20px;
    row-gap: 110px;

    font-size: 20px;
    line-height: 22px;
  }

  .about-us__fact-item {
    &:nth-child(n) {
      order: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    padding-left: 225px;
    padding-right: 225px;
  }

  .about-us__heading {
    margin-bottom: 97px;

    font-size: 53px;
    line-height: 57px;
  }

  .about-us__fact-list {
    column-gap: 36px;
  }
}
