.button {
  display: block;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;

  color: $black-text;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid $black-text;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $black-text;
    color: $white;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  &--mint {
    color: $white;
    line-height: 16px;

    background-color: $mint-main;
    border: none;

    &:hover,
    &:focus {
      background-color: $mint-main;
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 17px;
  }
}
