.catalog__list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  list-style: none;
}

.catalog__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.catalog__create-process {
  margin-bottom: 58px;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    &:not(:last-child) {
      margin-bottom: 54px;
    }
  }

  .catalog__list {
    margin-bottom: 53px;
  }

  .catalog__create-process {
    margin-bottom: 64px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 51px;
    margin-bottom: 57px;
  }

  .catalog__item {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .catalog__create-process {
    margin-bottom: 105px;
  }

  .catalog__order-button {
    grid-area: button;
    margin-bottom: 60px;
  }
}
