.contacts__wrapper {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.contacts__heading {
  margin: 0;
  margin-bottom: 28px;

  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  margin: 0;
  margin-bottom: 62px;

  color: $black-text;
  font-size: 14px;
  line-height: 30px;
}

.contacts__item {
  display: flex;
  margin-bottom: 30px;
}

.contacts__name {
  display: block;
  flex-shrink: 0;
  width: 77px;
  padding-right: 10px;
}

.contacts__value {
  margin: 0;

  a {
    color: $black-text;
  }

  a:hover,
  a:focus {
    color: $mint-special-2;
  }
}

.contacts__map {
  margin: 0 auto;
  margin-bottom: 42px;

  //Временно для сетки
  width: 320px;
  height: 454px;
  background-color: grey;
}

.contacts__write-button {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: grid;
  }

  .contacts__wrapper {
    width: 768px;
    padding: 0 50px;
  }

  .contacts__heading {
    max-width: 600px;
    margin-top: 23px;
    margin-bottom: 49px;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    display: grid;
    grid-template-columns: 320px 320px;
    grid-column-gap: 13px;
    margin-bottom: 48px;

    font-size: 17px;
    line-height: 30px;
  }

  .contacts__item {
    margin: 0;
  }

  .contacts__name {
    width: 78px;
  }

  .contacts__value {
    width: 242px;
  }

  .contacts__map {
    width: 768px;
    height: 457px;
    margin-bottom: 55px;
  }

  .contacts__write-button {
    width: auto;
    min-width: 230px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    grid-template:
      "information map"
      "button map"
      ". map";
    column-gap: 25px;
    width: 1150px;
    padding: 0 50px;
    padding-left: 225px;
  }

  .contacts__wrapper {
    grid-area: information;
    width: auto;
    margin: 0;
    padding: 0;
  }

  .contacts__heading {
    margin-top: 79px;
    margin-bottom: 35px;

    font-size: 53px;
    line-height: 57px;
  }

  .contacts__list {
    grid-template-columns: 320px;
    grid-column-gap: 13px;
    grid-row-gap: 30px;
    margin-bottom: 84px;
  }

  .contacts__map {
    grid-area: map;
    width: 527px;
    height: 457px;
    margin: 0;
  }

  .contacts__write-button {
    grid-area: button;
    margin-left: 0;
  }
}
