.create-process {
  position: relative;
  padding-left: 34px;
  padding-right: 34px;
  border: 1px solid $grey-border-mobile;

  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    left: -1px;
    bottom: -1px;
    width: 260px;
    height: 257px;
  }

  &:hover::before {
    box-shadow: 0 6px 10px rgba($black, 0.1);
  }

  &:active::before {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.create-process__heading {
  position: relative;
  margin: 0;
  padding-left: 57px;
  margin-top: 21px;
  margin-bottom: 26px;

  font-size: 17px;
  line-height: 24px;

  &::before {
    content: "";

    position: absolute;
    top: 13px;
    left: -1px;
    width: 32px;
    height: 22px;

    background-image: url("../img/icon-video.svg");
  }
}

.create-process__video {
  margin-left: -35px;
  margin-right: -35px;
  margin-bottom: 35px;
}

.create-process__description {
  margin: 0;
  margin-bottom: 41px;
  margin-right: -3px;

  color: $black-text;
  font-size: 13px;
  line-height: 24px;
}

.catalog__order-button {
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .create-process {
    display: grid;
    padding-left: 41px;
    padding-right: 41px;

    &::before {
      width: 668px;
      height: 287px;
    }
  }

  .create-process__heading {
    padding-left: 65px;
    margin-top: 0;
    margin-bottom: 25px;

    font-size: 20px;

    &::before {
      top: -2px;
      left: 0;
    }
  }

  .create-process__video {
    order: -1;
    margin: -1px -42px 40px -42px;

    border-bottom: 1px solid $grey-border-mobile;
  }

  .create-process__description {
    margin-right: 0;
    margin-bottom: 40px;

    font-size: 15px;
    line-height: 30px;
  }

  .catalog__order-button {
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .create-process {
    grid-template-columns: 683px 1fr;
    column-gap: 78px;
    grid-template-areas:
      "video heading"
      "video description"
      "video button"
      "video .";
    padding-left: 0;
    padding-right: 56px;

    &::before {
      left: auto;
      right: -1px;
      width: 367px;
      height: 455px;
    }
  }

  .create-process__heading {
    grid-area: heading;
    margin: 0;
    padding: 0;
    margin-top: 96px;
    margin-bottom: 27px;

    &::before {
      top: -50px;
      left: 0;
    }
  }

  .create-process__video {
    grid-area: video;
    margin: 0;
    margin-left: -1px;
    margin-top: -1px;
    margin-bottom: -1px;

    border: none;
  }

  .create-process__description {
    grid-area: description;
    margin-bottom: 51px;
  }
}
