.input-radio {
  position: relative;
}

.input-radio__input {
  position: absolute;

  left: 0;
  top: 0;
  width: 40px;
  height: 40px;

  opacity: 0;

  &:checked + label::after {
    content: "";

    position: absolute;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;

    background-color: $mint-border;
    border-radius: 50%;
  }
}

.input-radio__label {
  display: flex;
  align-items: center;

  &::before {
    content: "";

    width: 40px;
    height: 40px;
    margin-right: 20px;
    flex-shrink: 0;

    background-color: transparent;
    border: 2px solid $black-text;
    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .input-radio__input {
    width: 50px;
    height: 50px;

    &:checked + label::after {
      top: 15px;
      left: 18px;
      width: 20px;
      height: 20px;
    }
  }

  .input-radio__label {
    font-size: 19px;

    &::before {
      width: 50px;
      height: 50px;
      margin-left: 3px;
      margin-right: 27px;
    }
  }
}
