.input-textarea__label {
  display: block;

  &--legend {
    min-width: 60px;
    margin-bottom: 21px;

    text-transform: uppercase;
    color: $mint-main;
    background-image: linear-gradient(to right, $white, $white 60px, transparent 60px, transparent), linear-gradient(transparent, transparent 10px, $mint-border 10px, $mint-border 11px, transparent 11px, transparent);

    &::after {
      content: "";

      display: inline-block;
      width: 19px;
      height: 18px;

      background-color: $white;
    }
  }
}

.input-textarea__input {
  width: 100%;
  min-height: 142px;
  padding: 15px;
  resize: none;

  border: 2px solid $black-text;

  font-family: inherit;
  font-size: 17px;

  outline: none;

  &::placeholder {
    color: rgba($black, 0.3);
  }

  &:hover,
  &:focus,
  &:active {
    border: 2px solid $mint-border;
  }
}

@media (min-width: $tablet-width) {
  .input-textarea {
    position: relative;
    display: flex;
    align-items: baseline;
  }

  .input-textarea__label {
    margin-right: 24px;

    &--legend {
      position: absolute;
      top: 18px;
      left: -167px;

      min-width: auto;

      background-image: none;

      &::after {
        content: none;
      }
    }
  }

  .input-textarea__input {
    font-size: 19px;
  }
}

@media (min-width: $desktop-width) {
  .input-textarea__label {
    &--legend {
      left: -115px;
    }
  }
}
