.input-text__label {
  display: block;

  &--legend {
    min-width: 60px;

    text-transform: uppercase;
    color: $mint-main;
    background-image: linear-gradient(to right, $white, $white 60px, transparent 60px, transparent), linear-gradient(transparent, transparent 10px, $mint-border 10px, $mint-border 11px, transparent 11px, transparent);

    &::after {
      content: "";

      display: inline-block;
      width: 19px;
      height: 18px;

      background-color: $white;
    }
  }
}

.input-text__input {
  display: block;
  width: 100%;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $black;

  font-family: inherit;
  font-size: 17px;
  line-height: 17px;

  &::placeholder {
    color: rgba($black, 0.3);
  }

  &--phone {
    padding-bottom: 16px;
  }

  &--email {
    padding-bottom: 16px;
  }
}

@media (min-width: $tablet-width) {
  .input-text {
    position: relative;
    display: flex;
    align-items: baseline;
  }

  .input-text__label {
    margin-right: 26px;

    font-size: 19px;

    &--legend {
      position: absolute;
      top: 18px;
      left: -167px;

      min-width: auto;

      background-image: none;

      font-size: 17px;

      &::after {
        content: none;
      }
    }
  }

  .input-text__input {
    padding-left: 18px;
    padding-bottom: 11px;

    font-size: 19px;
  }
}

@media (min-width: $desktop-width) {
  .input-text__label {
    &--legend {
      left: -127px;
    }
  }
}
