.main-nav__toggle {
  position: absolute;
  right: 30px;
  top: 30px;

  background-color: transparent;
  border: none;

  &--open {
    width: 20px;
    height: 14px;
    background-image: url("../img/menu-open.svg");
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  padding-top: 28px;
  padding-bottom: 26px;

  border-bottom: 1px solid $grey-border-mobile;

  a {
    display: block;
    width: 320px;
    padding: 0 30px;
    padding-left: 77px;
    margin: 0 auto;
    color: $black;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;

    font-size: 15px;
    line-height: 24px;
  }

  .main-nav__item {
    border: none;
    padding-top: 21px;
    padding-bottom: 20px;

    &:not(:last-child) {
      padding-right: 37px;
    }

    a {
      width: auto;
      padding: 0;
      margin: 0;
    }
  }
}
