.main-nav__toggle {
  position: absolute;
  right: 30px;
  top: 30px;

  background-color: transparent;
  border: none;

  &--no-js {
    display: none;
  }

  &--open {
    width: 20px;
    height: 14px;
    background-image: url("../img/menu-open.svg");
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  border-bottom: 1px solid $grey-border-mobile;

  a {
    display: block;
    padding-top: 28px;
    padding-bottom: 26px;
    color: $black;
  }
}

.main-nav__link {
  &:hover span,
  &:focus span {
    opacity: 0.6;
  }

  &:active span {
    opacity: 0.3;
  }
}

.main-nav__link-wrapper {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 77px;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;

    font-size: 15px;
    line-height: 24px;
  }

  .main-nav__item {
    border: none;
    padding-top: 21px;
    padding-bottom: 20px;

    &:not(:last-child) {
      padding-right: 37px;
    }

    a {
      width: auto;
      padding: 0;
      margin: 0;
    }
  }

  .main-nav__link-wrapper {
    width: auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    font-size: 17px;
  }

  .main-nav__item {
    padding-top: 0;
    padding-bottom: 0;

    a {
      padding-top: 33px;
      padding-bottom: 31px;
    }

    &:not(:first-child) {
      padding-left: 0;

      a {
        padding-left: 35px;
      }
    }

    &:not(:last-child) {
      padding-right: 0;
      border-right: 1px solid rgba($black, 0.1);

      a {
        padding-right: 35px;
      }
    }
  }
}
