.main-nav__toggle {
  position: absolute;
  right: 30px;
  top: 30px;

  background-color: transparent;
  border: none;

  &--open {
    width: 20px;
    height: 14px;
    background-image: url("../img/menu-open.svg");
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  padding-left: 77px;
  padding-right: 30px;
  padding-top: 28px;
  padding-bottom: 26px;

  border-bottom: 1px solid $grey-border-mobile;

  a {
    color: $black;
  }
}
