.modal-window {
  background-color: rgba($white, 0.9);
}

.modal-window__wrapper {
  width: 320px;
  padding: 0 30px;
  margin: auto;

  background-color: $white;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

@media (min-width: $tablet-width) {
  .modal-window__wrapper {
    width: 566px;
    padding: 0 93px 0 92px;
  }
}
