.modal-add-cart__heading {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.modal-add-cart__fieldset {
  margin-bottom: 31px;
}

.modal-add-cart__button {
  width: 100%;
}
