.page-header {
  position: relative;
  padding: 0;

  font-weight: 700;
  line-height: 24px;
}

.page-header__wrapper {
  display: grid;
}

.page-header__logo {
  order: 1;
  padding-top: 22px;
  padding-bottom: 16px;

  text-align: center;

  border-bottom: 1px solid $grey-border-mobile;
}

.page-header__link-wrapper {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 77px;
}

.page-header__search {
  display: block;
  order: 3;
  padding-top: 28px;
  padding-bottom: 26px;

  color: $black;

  border-bottom: 1px solid $grey-border-mobile;
}

.page-header__cart {
  display: block;
  order: 4;
  padding-top: 28px;
  padding-bottom: 26px;

  color: $black;

  border-bottom: 1px solid $grey-border-mobile;
}

.page-header__main-nav {
  order: 2;
}

.page-header__specials-list {
  display: none;
  margin: 0;
  padding: 0;

  font-size: 15px;

  list-style: none;
}

.page-header__delivery {
  display: none;
  font-weight: 400;
  font-size: 15px;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-image: linear-gradient($white, $white 88px, rgba($black, 0.1) 88px, rgba($black, 0.1) 89px, transparent 89px, transparent);
  }

  .page-header__wrapper {
    grid-template-columns: 1fr 84px 264px;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      "logo search cart"
      "nav nav delivery";
    width: 768px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .page-header__logo {
    grid-area: logo;

    text-align: left;

    border: none;
  }

  .page-header__main-nav {
    grid-area: nav;
  }

  .page-header__search,
  .page-header__cart {
    border-bottom: none;
    width: auto;
    padding: 0;
    padding-top: 33px;
    padding-bottom: 31px;
    margin: 0;
  }

  .page-header__link-wrapper {
    width: auto;
    padding: 0;
  }

  .page-header__search {
    display: block;
    grid-area: search;
    padding: 0;
    width: 84px;
    height: 88px;

    border-left: 1px solid rgba($black, 0.1);
    border-right: 1px solid rgba($black, 0.1);
  }

  .page-header__search-text {
    display: none;
  }

  .page-header__cart {
    display: inline;
    grid-area: cart;

    text-align: right;
  }

  .page-header__delivery {
    display: block;
    grid-area: delivery;
    margin: 0;
    margin-top: 20px;

    color: $black-text;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    grid-template-columns: 447px  1fr 84px 266px;
    grid-template-areas:
      "nav logo search cart"
      "specials specials specials delivery";
    width: 1150px;
  }

  .page-header__logo {
    padding: 0;
  }

  .page-header__link-wrapper {
    padding-right: 0;
  }

  .page-header__main-nav {
    padding: 0;
  }

  .page-header__specials-list {
    display: flex;
    margin-top: 19px;

    a {
      color: $black;
    }
  }

  .page-header__specials-item {
    margin-right: 62px;
  }

  .page-header__delivery {
    padding-right: 0;
  }
}
