.page-footer {
  background-color: $grey-footer;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  padding: 25px 59px 27px;
  margin-bottom: 22px;

  border-bottom: 1px solid $grey-border-footer;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 19px;

  font-size: 19px;
  line-height: 19px;
  font-weight: 700;
}

.page-footer__copyright-text {
  margin-top: 1px;
  margin-bottom: 4px;
  margin-right: 27px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 58px;
  }

  .page-footer__logo {
    display: block;

    img {
      display: block;
    }
  }

  .page-footer__social {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    border: none;
  }

  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__copyright-text {
    margin-right: 29px;
  }
}
