.product-parameter {
  margin: 0;
  padding: 0;

  border: none;
}

.product-parameter__name {
  display: block;
  margin-bottom: 23px;

  color: $black-text;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.product-parameter__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-parameter__input {
  display: none;

  &:checked + label {
    border: 2px solid $mint-main;
  }
}

.product-parameter__value {
  display: block;
  width: 82px;
  padding-top: 13px;
  padding-bottom: 11px;

  color: $black-text;
  text-align: center;
  font-weight: 700;

  border: 2px solid rgba($black-text, 0.1);
}

@media (min-width: $tablet-width) {
  .product-parameter__name {
    margin-bottom: 18px;

    font-size: 17px;
  }

  .product-parameter__value {
    width: 112px;
  }
}
