.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list__link {
  &--instagram {
    width: 22px;
    height: 21px;
  }

  &--facebook {
    width: 15px;
    height: 28px;
  }

  &--twitter {
    width: 23px;
    height: 20px;
  }

  svg {
    fill: $black;
  }

  &:hover svg,
  &:focus svg {
    fill: $mint-special-2;
  }

  &:active svg {
    fill: rgba($mint-special-2, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .social-list__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
