.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list__link {
  &::before {
    content: "";
    display: block;

    background-color: grey; // временно
  }

  &--instagram {
    &::before {
      width: 22px;
      height: 21px;
    }
  }

  &--facebook {
    &::before {
      width: 15px;
      height: 28px;
    }
  }

  &--twitter {
    &::before {
      width: 23px;
      height: 20px;
    }
  }
}

@media (min-width: $tablet-width) {
  .social-list__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

