.video {
  position: relative;
}

.video__image {
  display: block;
  width: 260px;
  height: 150px;
}

.video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 77px;
  transform: translate(-50%, -50%);

  border: none;
  background-color: transparent;
  background-image: url("https://via.placeholder.com/100x77");
}

@media (min-width: $tablet-width) {
  .video__image {
    width: 668px;
    height: 455px;
  }
}

@media (min-width: $desktop-width) {
  .video__image {
    width: 683px;
  }
}
