.week-offer {
  display: flex;
  flex-direction: column;
}

.week-offer__heading {
  order: -1;
  margin: 0;

  color: $mint-main;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

.week-offer__name {
  order: -2;
  margin: 0;
  margin-bottom: 5px;

  font-size: 25px;
  line-height: 30px;
}

.week-offer__description {
  margin-bottom: 20px;

  color: $black-text;
  font-size: 15px;
}

.week-offer__characteristics {
  margin: 0;
  margin-bottom: 26px;
}

.week-offer__image {
  margin-bottom: 21px;
}

.week-offer__price {
  margin: 0;
  margin-bottom: 24px;

  color: $black-text;
  font-weight: 700;
  text-align: center;
}

.week-offer__button {
  margin-bottom: 36px;
}

@media (min-width: $tablet-width) {
  .week-offer {
    display: grid;
    grid-template-areas:
      "name name heading"
      "description image image"
      "characteristics image image"
      "price image image"
      "button image image"
      ". image image";
    grid-template-columns: 292px 1fr 113px;
  }

  .week-offer__heading {
    grid-area: heading;

    line-height: 17px;
    text-align: center;
  }

  .week-offer__name {
    grid-area: name;
    padding-right: 20px;

    font-size: 43px;
    line-height: 50px;
  }

  .week-offer__description {
    grid-area: description;

    font-size: 17px;
    line-height: 30px;
  }

  .week-offer__characteristics {
    grid-area: characteristics;
  }

  .week-offer__image {
    grid-area: image;
    width: 334px;
    height: 404px;
    margin-left: 42px;
  }

  .week-offer__price {
    grid-area: price;
  }

  .week-offer__button {
    grid-area: button;
  }
}

@media (min-width: $desktop-width) {
  .week-offer {
    grid-template-areas:
      ". . image"
      "heading . image"
      ". description image"
      ". characteristics image"
      ". price image"
      ". button image";
    grid-template-columns: 175px 292px 1fr;
  }

  .week-offer__heading {
    padding-left: 50px;
    padding-right: 50px;
  }

  .week-offer__name {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    z-index: 2;

    font-size: 53px;
    line-height: 57px;
  }

  .week-offer__description {
    padding-top: 153px;
  }

  .week-offer__image {
    width: 525px;
    height: 636px;
    margin-left: 58px;
  }
}
