$white: #ffffff;
$black: #000000;
$black-text: #444444;
$grey-border-mobile: #ececec;
$grey-border-footer: #e5e5e5;
$mint-main: #63d1bb;
$mint-main-2: #59d5bc;
$mint-border: #62d1ba;
$mint-special: #56c3b2;
$mint-special-2: #46c1ae;
$grey-footer: #f1f1f1;

$tablet-width: 768px;
$desktop-width: 1150px;
